@model L05.Models.ReplyUpdateDto

<div class="container-fluid d-flex flex-column gap-2">
  <p>Are you sure you want to delete this reply?</p>
  <form asp-controller="Reply" asp-action="Delete" asp-route-id="@Model.Id" method="POST">
    <button type="submit" class="btn btn-danger form-control">Yes, delete</button>
  </form>
  <a asp-controller="Thread" asp-action="Index" class="btn btn-light form-control">No, cancel</a>
</div>
