@model L05.Models.ThreadCreateDto

<form asp-controller="Thread" asp-action="Create" method="POST" class="container-fluid d-flex flex-column gap-4">
  <input type="hidden" asp-for="@Model.Author" required />
  <label>
    Title
    <input type="text" asp-for="@Model.Title" required class="form-control" />
  </label>

  <label>
    Description
    <textarea asp-for="@Model.Description" class="form-control"></textarea>
  </label>

  <button type="submit" class="btn btn-light">Add</button>
</form>
